<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>member system</title>
</head>

<body>
    <h2>Eugene Zone</h2>
    <h3>SIGN UP</h3>
    <form action="/signup" , method="POST">
        nickname: <br /><input type='text' name='nickname' />
        <br />
        email(PCG) : <br /><input type='email' name='email' />
        <br />
        password: <br /><input type='password' name="password" />
        <br />
        <br /><button>sign up</button>
    </form>
    <br />
    <h3>SIGN IN</h3>
    <form action="/signin" , method="POST">
        email(PCG) : <br /><input type='text' name='email' />
        <br />
        password: <br /><input type='password' name="password" />
        <br />
        <br /><button>sign in</button>
    </form>


</body>

</html>